{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header m-b-10">Gambling Shrink | Home <small> insert something here</small></h1>
    <!-- end page-header -->
    <p class="m-b-20">
        some content if you want but not important
    </p>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Randomness</h4>
                    <p class="card-text">Randomeness theory displays </p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Independent Events</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Symbol Matching - Coin Toss</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Symbol Matching - Galton
                        Board</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Virtual Reels</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Serial vs Random Number
                        generation</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">RNG - Symbol Matching -
                        Slots</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Adjusting Symbol
                        Distribution</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Overall Game Payoff</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Count Toss - 2 Outcome Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Galton Board - 7 Outcome
                        Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">11 Outcome Game</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Simulate Repeat Play game payoff </h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Repeat play 2 Outcome Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Repeat play 7 Outcome Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Repeat play 11 Outcome Game</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Simulate virtual Sessions</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Simulate extended playing sessions</p>

                    <a href="#placeholder" class="btn btn-indigo" role="button">12 1hr-Sessions</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Negative vs Positive Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Negative vs Fair Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Negative vs Positive Game</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Loss Calculator</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo btn-block" role="button">Loss Calculator</a>

                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Wagering</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo btn-block" role="button">Wagering</a>

                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Settings</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Settings</a>
                    <a href="#placeholder" class="btn btn-indigo" role="button">My Account</a>
                </div>
            </div>
            <!-- end card -->
        </div>


    </div>
</div>
<!-- end #content -->
{% endblock content %}

{% block script %}

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'plugins/d3/d3.min.js' %}"></script>
<script src="{% static 'plugins/nvd3/build/nv.d3.min.js' %}"></script>
<script src="{% static 'plugins/clipboard/dist/clipboard.min.js' %}"></script>
<script src="{% static 'plugins/highlight.js/highlight.min.js' %}"></script>
<script src="{% static 'js/demo/widget.demo.js' %}"></script>
<script src="{% static 'js/demo/render.highlight.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

{% endblock script %}
