{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="{% url 'home' %}" class="navbar-brand"><span class="navbar-logo"></span> <b>Gambling Shrink</b></a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->
    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">

        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% static 'img/user/user-13.jpg' %}" alt="" />
                <span class="d-none d-md-inline">{{ user.first_name }} {{ user.last_name }}</span> <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:;" class="dropdown-item">Edit Profile</a>
                <a href="javascript:;" class="dropdown-item">Settings</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
            </div>
        </li>
    </ul>
    <!-- end header navigation right -->
</div>
<!-- end #header -->


<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="active">
                <a href="{% url 'home' %}">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="has-sub">
                <a href="#randomness">
                    <b class="caret"></b>
                    <i class="fa fa-random"></i>
                    <span>Randomness</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="independent_events.html">Independent Events</a></li>
                    <li><a href="rng_coin_toss.html">Symbol Matching - Coin Toss</a></li>
                    <li><a href="rng_prize_matching.html">PrizeMatching - Galton Board</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="#virtual_Reel">
                    <b class="caret"></b>
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Virtual Reels</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="vr_serial_random.html">Serial-vs-Random - Number Generation</a></li>
                    <li><a href="vr_symbol_matching.html">RNG - Symbol Matching - Slots</a></li>
                    <li><a href="vr_adjusting_symbol_distribution.html">Adjusting Symbol Distribution</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="#Overal_game_play_off">
                    <b class="caret"></b>
                    <i class="fa fa-money-bill"></i>
                    <span>Overall GamePayOff</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="gpo_2_outcome.html">Coin Toss - 2 Outcome Game</a></li>
                    <li><a href="gpo_7_outcome.html">Galton Board - 7 Outcome Game</a></li>
                    <li><a href="gpo_11_outcome.html">11 Outcome Game</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-gamepad"></i>
                    <span>Simulate Play GamePayOff</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'repeat_play2_outcome' %}">Repeat Play 2 Outcome Game</a></li>
                    <li><a href="repeat_play_7_outcome.html">Repeat Play 7 Outcome Game</a></li>
                    <li><a href="repeat_play_11_outcome.html">Repeat Play 11 Outcome Game</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-play"></i>
                    <span>Simulate Virtual Sessions</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="vs_12_1hr_session.html">12 1hr-Sessions</a></li>
                    <li><a href="vs_50_1hr_session_positive.html">50 1hr-Sessions Negative vs Positive Game</a>
                    </li>
                    <li><a href="vs_50_1hr_session_fair.html">50 1hr-Sessions Negative vs Fair Game</a></li>
                    <li><a href="vs_50_2hr_session_positive.html">50 1hr-Sessions Negative vs Positive Game</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="loss_calculator.html">
                    <i class="fa fa-calculator"></i>
                    <span>Loss Calculator</span>
                </a>
            </li>
            <li>
                <a href="wagering.html">
                    <i class="fa fa-trophy"></i>
                    <span>Wagering</span>
                </a>
            </li>
            <li>
                <a href="settings.html">
                    <i class="fa fa-wrench"></i>
                    <span>Settings</span>
                </a>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                        class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header m-b-10">Gambling Shrink | Home <small> insert something here</small></h1>
    <!-- end page-header -->
    <p class="m-b-20">
        some content if you want but not important
    </p>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Randomness</h4>
                    <p class="card-text">Randomeness theory displays </p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Independent Events</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Symbol Matching - Coin Toss</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Symbol Matching - Galton
                        Board</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Virtual Reels</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Serial vs Random Number
                        generation</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">RNG - Symbol Matching -
                        Slots</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Adjusting Symbol
                        Distribution</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Overall Game Payoff</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Count Toss - 2 Outcome Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Galton Board - 7 Outcome
                        Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">11 Outcome Game</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Simulate Repeat Play game payoff </h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Repeat play 2 Outcome Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Repeat play 7 Outcome Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Repeat play 11 Outcome Game</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Simulate virtual Sessions</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Simulate extended playing sessions</p>

                    <a href="#placeholder" class="btn btn-indigo" role="button">12 1hr-Sessions</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Negative vs Positive Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Negative vs Fair Game</a>
                    <a href="#placeholder" class="btn btn-indigo " role="button">Negative vs Positive Game</a>
                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Loss Calculator</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo btn-block" role="button">Loss Calculator</a>

                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Wagering</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo btn-block" role="button">Wagering</a>

                </div>
            </div>
            <!-- end card -->
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title m-t-0">Settings</h4>
                    <!--
                    <h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
                    -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#placeholder" class="btn btn-indigo" role="button">Settings</a>
                    <a href="#placeholder" class="btn btn-indigo" role="button">My Account</a>
                </div>
            </div>
            <!-- end card -->
        </div>


    </div>
</div>
<!-- end #content -->
{% endblock content %}

{% block script %}

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'plugins/d3/d3.min.js' %}"></script>
<script src="{% static 'plugins/nvd3/build/nv.d3.min.js' %}"></script>
<script src="{% static 'plugins/clipboard/dist/clipboard.min.js' %}"></script>
<script src="{% static 'plugins/highlight.js/highlight.min.js' %}"></script>
<script src="{% static 'js/demo/widget.demo.js' %}"></script>
<script src="{% static 'js/demo/render.highlight.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

{% endblock script %}
